[Unit]
Description=Login to Tailscale Mesh VPN
After=NetworkManager-wait-online.service


[Service]
Type=oneshot
ExecStart=tailscale up --auth-key=tskey-auth-k4667MmEfK11CNTRL-9baMxP6qU2GBVfSi6wLk1GFJpug9osnM --accept-dns=false

[Install]
WantedBy=default.target
